<p id="notice"><%= notice %></p>
<h1>Developers</h1>
<%= form_for @developers_search_form, url: developers_path, method: :get do |search_form| %>
  Language (Code format) : <%= search_form.text_field :language %>
  Programming Languages : <%= search_form.text_field :programming_language %>
  <%= search_form.submit "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Languages</th>
      <th>Programming Languages</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @developers.each do |developer| %>
      <tr>
        <td><%= developer.email %></td>
        <td>
          <%= developer.languages.pluck(:code).join(", ") %>
        </td>
        <td>
          <%= developer.programming_languages.pluck(:name).join(", ") %>
        </td>
        <td><%= link_to 'Show', developer %></td>
        <td><%= link_to 'Edit', edit_developer_path(developer) %></td>
        <td><%= link_to 'Destroy', developer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @developers.empty? %>
  <%= "No Data Found" %>
<% end %>

<br>

<%= link_to 'New Developer', new_developer_path %>
